@model CoffeeListViewModel

<h1>Весь кофе</h1>
<div class="row mt-3 mb-2">
    @{
        foreach (Coffee coffee in Model.AllCoffee)
        {
            @Html.Partial("AllCoffee", coffee)
        }
    }
</div>